services:
  backend:
    build: .
    environment:
      - NODE_ENV=production
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.sirizagaria.com`)"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.tls.certresolver=letsencrypt"
      - "traefik.http.services.backend.loadbalancer.server.port=5000"
    networks:
      - traefik-network
      - backend-network

  mongo:
    image: mongo:6
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped
    networks:
      - backend-network

volumes:
  mongo_data:

networks:
  traefik-network:
    external: true
  backend-network:
    driver: bridge
